@use "../abstracts/" as *;

.content-max-width {
  --max-width: #{$content-max-width};
  --padding: #{$content-inline-padding};

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;

  &[data-type="narrow"] {
    --max-width: #{$content-mw-narrow};
  }
  &[data-type="wide"] {
    --max-width: #{$content-mw-wide};
  }
  &[data-type="full-bleed"] {
    --max-width: 100%;
  }
}
